html,body {
  padding:0;
  margin:0;
  height:100%;
}

.title-div {
  width: 100%;
  height: 10%;
}

.main-div {
  width: 100%;
  height: 40%;
}

.info-div {
  width: 100%;
  height: 50%;
}

.info-item {
  width: 23%;
  background-color: aquamarine;
  margin: 10px;
}